/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require milligram
 *= require trix
 */

.lightblue-vr {
    text-decoration: none;
    border-left: 10px solid #00ffd4;
}

.thin-link {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 5px solid #6bff42;
}
.thin-link:focus {
    outline: dashed #a8e549 5px;
}

.danger-link {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 10px solid #af4141;
}
.danger-link:focus {
    outline: dashed #af4141 5px;
}

.awesome-link {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 10px solid #6bff42;
}
.awesome-link:focus {
    outline: dashed #a8e549 5px;
}

.happy-link {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 10px solid yellow;
}
.happy-link:focus {
    outline: dashed #a8e549 5px;
}

.nice-link {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 10px solid #b0e75b;
}
.nice-link:focus {
    outline: dashed #a8e549 5px;
}

.yellow-underline {
    text-decoration: none;
    border-bottom: 10px solid yellow;
}

.green-border {
    border: 0.1em solid #a8e549;
}

/* Margins & Paddings */

.mb-10 {
    margin-bottom: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-1 {
    padding-top: 1px;
}

.mr-5 {
    margin-right: 5px;
}


body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

#header {
    background: #ccc;
    height: 100px;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

#nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 230px;
    margin-left: -100%;
    background: #eee;
}

#footer {
    clear: left;
    width: 100%;
    background: #ccc;
    text-align: center;
    padding: 4px 0;
}

#wrapper {
    overflow: hidden;
}
            
#content {
    margin-left: 230px; /* Same as 'nav' width */
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}

